/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-size: 62.5%;
     font-family: 'Roboto', sans-serif;
     background-color: rgb(246, 247, 250);

}
label {
     font-size: .8rem;
     font-weight: 700;
     padding: .5rem 0;
     text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/
header, .main {
     display: flex;
}
header {
     align-items: center;
     height: 100px;
     padding: 0 1rem;
     justify-content: center;
}
h1 {
     font-family: 'Fredoka One', cursive;
     font-size:3rem;
     margin: 0;
}
.main {
     margin: 2rem;
     /* padding: 1rem; */

     display: flex;
     flex-wrap: wrap;
     font-size: 1.2rem;
     border-radius: 1rem;
     background-color: rgb(255, 255, 255);
     box-shadow: 0 0 9px 1px rgba(0,0,0,.2);

}




.logo {
     height: 100%;
     width: auto;
}
.from-lang, .to-lang {
     border: none;
     color: rgb(51,76,93);
     background: rgb(255, 255, 255);
     border-bottom: 1px solid rgb(243, 242, 249);
     padding: 1rem 0;
     width: 47.5%;
     text-transform: uppercase;
     font-family: 'Fredoka One', cursive;
}
.flip-btn {
     background: url("https://img.icons8.com/external-inkubators-detailed-outline-inkubators/50/000000/external-left-and-right-arrows-arrows-inkubators-detailed-outline-inkubators.png") no-repeat center;
     background-size: 30px;
     border: none;
     border-bottom: 1px solid rgb(243, 242, 249);
     width: 5%;
}
.from-lang:hover, .to-lang:hover, .flip-btn:hover, .lang-menu button:hover {
     background-color: rgb(246, 247, 250);

}
textarea {
     border: none;
     border-bottom-left-radius: 1rem;
     padding: 1rem;
}
textarea:focus {
     outline: none;
}
label, p, textarea {
     width: 50%;
     
}
p {
     flex-grow: 1;
     margin: 0;
     border-bottom-right-radius: 1rem;
     padding: 1rem;
     background-color: rgb(243, 242, 249);
     

}

.lang-menu {
     display: flex;
     background-color: white;
     align-content: start;
     flex-wrap: wrap;
     width: 100%;
     padding: 1.2rem 2rem;
     font-size: 1rem;

     border-bottom-right-radius: 1rem;
     border-bottom-left-radius: 1rem;
}
.lang-menu button {
     background-color: transparent;
     border: none;
     width: 100%;
     padding: .3rem .5rem;
     text-align: start;
}
.lang-menu span {
     font-size: .8rem;
     font-weight: 700;
     color: rgb(192, 192, 192);
 
}
.lang-menu div {
     display: flex;
     flex-direction: column;
     width: 25%;
     margin-bottom: 30px;
}

footer {
     width: 100%;
     position: fixed;
     bottom: 0;
     font-size: 1rem;
     text-align: center;
     color: rgb(51,76,93);
     padding-bottom: 1rem;

}

footer a:link, footer a:visited {
     color: rgb(51,76,93);
}
footer a:hover {
     color: gray;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden {
     display: none;
}
.open {
     height: fit-content;
     padding: 1.2rem 2rem;
     animation: open 1s forwards;
}
@keyframes open {
     0% {
          opacity: 0;  
     }
     100% {
          opacity: 100%;
     }
}

.close {
     height: 0;
     opacity: 0;
     padding: 0;
}


@media screen and (max-width: 500px){
     .lang-menu div {
          width: 50%;
     }
     .main {
          margin: 1rem;
     }
     .from-text, .translated-text {
          width: 100%;
          height: 200px;
     }
     
}